html {
    font-family: arial, sans-serif;
}

a {
    text-decoration: none;
}

#logo {
    display: block;
    margin: auto;
    width: 20em;
}

form {
    text-align: center;
    width: 30em;
    min-height: 10em;
    max-height: auto;
    margin: auto;
}

#searchbar {
    width: 30em;
}

#topbar {
    display: flex;
    min-height: 30px;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

#topbar {
    margin-right: 15px;
}

.toppic {
    width: 2em;
    margin-top: 5px;
    opacity: 0.7;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
}

ul a {
    text-decoration: none;
    font-size: 14px;
    color: #222;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 92px;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
}

#overfoot {
    height: 46px;
    width: 100vw;
    background-color: lightgray;
    border-bottom-color: gray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#overfoot p {
    margin: 15px;
}

#underfoot {
    width: 100vw;
    height: 46px;
    background-color: lightgray;
    display: flex;
}

#underfoot1 {
    width: 50vw;
    height: 46px;
    display: flex;
    align-items: center;
}

#underfoot2 {
    width: 50vw;
    height: 46px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

#underfoot2 a, #underfoot1 a {
    margin: 15px;
}