html {
    font-family: arial, sans-serif;
}
#logo {
    display: block;
    margin: auto;
    margin-top: 200px;
    width: 20em;
}


form {
    text-align: center;
    width: 30em;
    margin: auto;
}

#searchbar {
    width: 30em;
}

ul {
    list-style-type: none;
    margin-top: 10px;
    margin-right: 10px;
    padding: 0;
}

li {
    display: inline;
    float: right;
    margin-left: 10px;
}

ul a {
    text-decoration: none;
    color: #222;
}